

<div class="row">       
    <div class="col-xs-12 col-md-12 col-lg-12 vcenter">
        <div style="height:.1em;border:1px solid #Fff">        		
        	<div id="bootstrap-overrides">	
							<h1>Pique</h1>
							<h2>Show the world its own beauty</h2>
						</div>
					</div>
    </div>
</div>

